<div class="container">
  <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/bookings/my_bookings">My Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Bookings On My Boats</a>
  </li>
</ul>
  <hr>
  <div class="cards">
    <% @bookings_on_my_boats.each do |booking| %>
      <div class="card-product">
        <%# <%= image_tag("boat") %>
        <div class="card-product-infos">
          <h2><%= booking.boat.name %></h2>
          <p>Booked By: <%= booking.user.email %></p>
          <p>Start Date <%= booking.start_date %></p>
          <p>End Date <%= booking.end_date %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
