<div class="container">
    <%= render partial:'shared/tabbar', :locals => {my_boats: "", my_bookings: "", bookings_on_my_boats: "active"} %>
  <hr>
  <div class="cards">
    <% @bookings_on_my_boats.each do |booking| %>
      <div class="card-product">
        <%# <%= image_tag("boat") %>
        <div class="card-product-infos">
          <h2><%= booking.boat.name %></h2>
          <p>Booked By: <%= booking.user.email %></p>
          <p>Start Date <%= booking.start_date %></p>
          <p>End Date <%= booking.end_date %></p>
          <p><%= booking.status %></p>
          <h5><%= number_to_currency(booking.total_cost, unit: "$", precision: 0) %></h5>
          <% if booking.status == "Pending"%>
          <%=link_to "Approve", booking_approve_path(booking_id: booking.id), class: 'btn btn-success', method: :post %>
          <%=link_to "Reject", booking_reject_path(booking_id: booking.id), class: 'btn btn-danger', method: :post %>
          <% elsif booking.status == "Approved"%>
          <%=link_to "Reject", booking_reject_path(booking_id: booking.id), class: 'btn btn-danger', method: :post %>
          <% elsif booking.status == "Rejected"%>
          <%=link_to "Approve", booking_approve_path(booking_id: booking.id), class: 'btn btn-success', method: :post %>
          <% else %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
