<div class="container">
  <ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">My Bookings</a>
  </li>
  <li class="nav-item">
    <%= link_to "Bookings On My Boats", bookings_on_my_boats_path, class: "nav-link" %>
  </li>
</ul>
  <hr>
  <div class="cards">
    <% @my_bookings.each do |booking| %>
      <div class="card-product">
        <%# <%= image_tag("boat") %>
        <div class="card-product-infos">
          <h2><%= booking.boat.name %></h2>
          <p>Start Date <%= booking.start_date %></p>
          <p>End Date <%= booking.end_date %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
