<div class="container">
    <%= render partial: 'shared/tabbar', :locals => {my_boats: "", my_bookings: "active", bookings_on_my_boats: ""} %>
  <hr>
  <div class="cards">
    <% @my_bookings.each do |booking| %>
      <div class="card-product">
        <%# <%= image_tag("boat") %>
        <div class="card-product-infos">
          <h2><%= booking.boat.name %></h2>
          <p>Start Date <%= booking.start_date.strftime("%F") %></p>
          <p>End Date <%= booking.end_date.strftime("%F") %></p>
          <p><strong><%= booking.status %></strong></p>
          <p><%= number_to_currency(booking.boat.price, unit: "$", precision: 0)%>/day</p>
          <h5><%= number_to_currency(booking.total_cost, unit: "$", precision: 0) %></h5>
          <% if booking.status != 'Completed' && booking.status != 'Cancelled' %>
          <%=link_to "Cancel", booking_cancel_path(booking_id: booking.id), class: 'btn btn-danger', method: :post %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
