<div class="row">
  <div class="col-5 container mt-3 pt-4 mb-3 pb-3 bg-white">
    <%= simple_form_for(@boat) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.input :category %>
      <%= f.input :price %>
      <div class="text-center">
        <%= f.submit class: "btn btn-primary text-white", style: "border-radius: 5px"%>
      </div>
    <% end %>
</div>
</div>
