<div class="row">
  <div class="col-5 container mt-3 pt-4 pb-3 bg-white">
    <h2 class="text-center pb-3"><strong>Edit:</strong> <%= @boat.name %></h2>
    <%= simple_form_for(@boat) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :category %>
      <%= f.input :price %>
      <div class="text-center">
        <%= f.submit class: "btn btn-primary"%>
      </div>
    <% end %>
</div>
</div>
