<div class="container">
  <div class="d-flex justify-content-between pt-5">
    <h1>Browse boats</h1>
     <%= form_with url: "/boats", method: :get do |f| %>
    <%= f.text_field :query %>
    <%= f.submit "Search", class: "btn btn-primary"%>
    <%= link_to "Reset", boats_path, class: "btn btn-secondary" %>
  <% end %>
  </div>
  <hr>
  <div class="cards">
    <% @boats.each do |boat| %>
        <div class="card-product">
          <%= image_tag("boat.jpg") %>
          <div class="card-product-infos">
            <h2><%= boat.name %></h2>
            <p><%= boat.description %></p>
            <div class="d-flex justify-content-between pt-3">
              <p>$<%= boat.price %></p>
              <%= link_to "Details", boat_path(boat), class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
