<div class="container pt-4">
<% if @boat.user_id == current_user.id %>
  <div>
    <%= link_to 'Edit', edit_boat_path(@boat), class: "btn btn-warning" %>
    <%= link_to 'Delete', boat_path(@boat), class: "btn btn-danger" , method: :delete, data: { confirm: "Are you sure you want to delete this boat?" } %>
  </div>
<% end %>
<h1><%= @boat.name %></h1>
<div><p>Image</p></div>
<div>
<h3>Boat hosted by <%= @boat.user.email %></h3>
<p><strong>Type: <%= @boat.category %></strong></p>
<p><%= @boat.description %></p>
</div>
</div>
<div class="container pt-4">
<%= simple_form_for [@boat, @booking], url: boat_bookings_path(@boat) do |f| %>
  <p><strong>$<%= @boat.price %></strong></p>
  <%= f.label "CHECK-IN" %>
  <%= f.date_field :start_date %>
  <%= f.label "CHECKOUT" %>
  <%= f.date_field :end_date %>
  <%= f.submit "Reserve", class: "btn btn-danger form-control"%>
<% end %>
</div>
