<div>
<h1><%= @boat.name %></h1>
<div><p>Image</p></div>
<div>
<h3>Boat hosted by <%= @user %></h3>
<p><strong>Type: <%= @boat.category %></strong></p>
<p><%= @boat.description %></p>
</div>
</div>
<div>
<p><strong><%= @boat.price %></strong></p>
<%= simple_form_for [@boat, @booking] do |f| %>
  <%= f.input :start_date, as: :string, required: false, input_html: {class: 'datepicker'}  %>
  <%= f.input :end_date, as: :string, required: false, input_html: {class: 'datepicker'}  %>
  <%= f.submit %>
<% end %>
</div>
